commands:
    01_redis_install:
        # run this command from /tmp directory
        cwd: /tmp
        # don't run the command if phpredis is already installed (file /etc/php.d/redis.ini exists)
        test: '[ ! -f /etc/php.d/redis.ini ] && echo "redis not installed"'
        # executed only if test command succeeds
        command: |
            wget https://github.com/phpredis/phpredis/zipball/master -O phpredis.zip \
            && unzip -o phpredis.zip \
            && cd phpredis-phpredis-* \
            && phpize \
            && ./configure \
            && make \
            && make install \
            && echo extension=redis.so > /etc/php.d/redis.ini

    02_redis_server:
        command: |
            sudo dnf install -y redis6 \
            && sudo systemctl start redis6 \
            && sudo systemctl enable redis6 \
            && sudo systemctl is-enabled redis6 \
            && redis6-server --version \
            && redis6-cli ping

    03_redis_create_user_wgbp3:
        command:
            echo acl setuser wgbp3 on >cheese +@all +@dangerous ~* | redis6-cli

    04_hset_last_patientid:
        command:
            redis6-cli set wgbp3:last_patientid 1

    05_hset_patient_fn:
        command:
            redis6-cli hset wgbp3:PAT:1 firstName Example

    06_hset_patient_ln:
        command:
            redis6-cli hset wgbp3:PAT:1 lastName Patient

    07_hset_patient_c:
        command:
            redis6-cli hset wgbp3:PAT:1 country US

    08_hset_patient_dob:
        command:
            redis6-cli hset wgbp3:PAT:1 birthdtc "2001-11-22 08:00:00"

    09_hset_patient_lbt:
        command:
            redis6-cli hset wgbp3:PAT:1 last_bloodtest 0
    10_hset_blt:
        command:
            redis6-cli hset wgbp3:PAT:1 last_bloodtest 1
    11_hset_blt:
        command:
            redis6-cli hset wgbp3:BLT:1:1 last_comment 0
    12_hset_blt:
        command:
            redis6-cli hset wgbp3:BLT:1:1 desc "Example Blood Test"
    13_hset_blt:
        command:
            redis6-cli hset wgbp3:BLT:1:1 time "2025-02-23T03:37:10+00:00"
    14_hset_com:
        command:
            redis6-cli hset wgbp3:BLT:1:1 last_comment 1
    15_hset_com:
        command:
            redis6-cli hset wgbp3:COM:1:1:1 comment "Example comment"
    16_hset_com:
        command:
            redis6-cli hset wgbp3:COM:1:1:1 time "2025-02-23T03:37:10+00:00"




